:root {
  --color-background: #bdbdbd;
  --color-text: #ea4809;
  --color-accent: #f2d1f3;
  --color-border: #e4f4f4;
  --color-placeholder: #999;

  --font-family-base: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
